.panel-top {
    width:100%;
    min-width: 1200px;
    height: 74px;
    line-height: 74px;
    background: #0091ea;
    color: #fff;
  }
  .panel-top .el-row {
    width: 92%;
    min-width:1200px;
    margin: 0 auto;
  }
  .panel-top  .el-menu {
    background: none;
  }
  .panel-top  .el-menu--horizontal .el-menu-item{
    height: 74px;
    line-height: 74px;
    color: #fff;
    border:none;
  }
  .panel-top  .el-menu--horizontal .el-menu-item.is-active{
    background: #0099f7;
  }
  .panel-top  .el-menu--horizontal .el-menu-item:hover {
    background: #0099f7;
    border:none;
  }
  .panel-top  .el-menu--horizontal .el-menu-item a {
    text-decoration: none;
  }
.account-option {
    text-align: right;
    font-size: 14px;
}
.account-option .tip {
    display: inline-block;
    border-left:1px solid #13a5ff;
    padding: 0 20px;
    line-height: 20px;
    margin-top:22px;
    cursor: pointer;
}
.account-option .el-dropdown-link {
    color:#fff;
    padding: 0 20px;
    cursor: pointer;
}
.account-option .el-dropdown-menu{
    margin:0px auto;
    text-align: center;
}